@import url('variables.css');

body {
    margin: 0;
    height: 100vh;
}

.body-header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: 100%;
    background-color: coral;
}

.body-main {
    position: fixed;
    top: var(--header-height);
    left: var(--sidenav-width);
    height: calc(100vh - var(--header-height));
    width: calc(100% - var(--sidenav-width));
    overflow-y: auto;
    background-color: aquamarine;
}

.sidenav {
    position: fixed;
    top: var(--header-height);
    width: var(--sidenav-width);
    height: calc(100vh - var(--header-height));
    background-color: fuchsia;
}

.data-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.scorecards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: bisque;
}

.scorecard {
    width: 100%;
    height: 32rem;
    border-style: solid;
    border-width: thick;
    border-color: blue;
    background-color: darksalmon;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.act-input {
    width: 100%;
    height: 100%;

    td {
        background-color: grey;
    }
}