@import url('variables.css');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif; /* Use Arial as the primary font */
}

.body-header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: 100%;
    background-color: darkslateblue;

    text-align: center;
    font-size: 2rem;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-main {
    position: fixed;
    top: var(--header-height);
    left: var(--sidenav-width);
    height: calc(100vh - var(--header-height));
    width: calc(100% - var(--sidenav-width));
    overflow-y: auto;
}

.sidenav {
    position: fixed;
    top: var(--header-height);
    width: var(--sidenav-width);
    height: calc(100vh - var(--header-height));
    background-color: slateblue;
}

.data-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.scorecards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.scorecard {
    width: 100%;
    height: 32rem;
    border-style: solid;
    border-width: thick;
    border-color: darkslateblue;
    background-color: lightgrey;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.act-input {
    width: 100%;
    height: 100%;

    td {
        background-color: grey;
    }
}

.p1-indicator {
    color: blue;
}

.p2-indicator {
    color: red;
}

.p3-indicator {
    color: green;
}

.p4-indicator {
    color: yellow;
}