{% extends "base.html" %}

{% block title %}
Data
{% endblock %}

{% block main %}

<div class="scorecards">
    <form class="data-tabs" action="/data" method="GET">
        {% for season in seasons %}
        <button type="submit" name="season" value="{{ season }}">{{ season }}</button>
        {% endfor %}
    </form>

    <h1>{{season}} Data</h1>
    {% for act in data %}
    <table class="scorecard">
        <thead>
            <tr>
                <th>{{ act.data.act_date }}</th>
                {% for team_index in range(1, 5) %}
                <th>
                    <div class="teammates">
                        {% for player_index in range(1, 5) %}
                        {% set player_uname = 't' ~ team_index ~ '_p' ~ player_index ~ '_uname' %}
                        {% if act.data[player_uname] %}
                        <span class="p{{ player_index }}-indicator">{{ act.data[player_uname] }}</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="character">
                        {{ act.data['t' ~ team_index ~ '_character'] }}
                    </div>
                </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for j in [0, 4, 8, 12] %}
            <tr>
                <td>
                    {% for race_index in range(j, j + 4) %}
                    <div>{{ act.races[race_index].map_name }}</div>
                    {% endfor %}
                </td>
                {% for team_index in range(1, 5) %}
                <td>
                    {% for race_index in range(j, j + 4) %}
                    <span class="
                                    {% set player_uid = 't' ~ team_index ~ '_player_uid' %}
                                    {% set player_uid_check = 't' ~ team_index ~ '_p' %}
                                    {% for indicator_index in range(1, 5) %}
                                        {% if act.races[race_index][player_uid] == act.data[player_uid_check ~ indicator_index ~ '_uid' ] %}
                                            p{{ indicator_index }}-indicator
                                        {% endif %}
                                    {% endfor %}
                                ">{{ act.races[race_index]['t' ~ team_index ~ '_points'] }}</span>
                    {% endfor %}
                    <div class="bottom-right-total">{{ act.scores[j + team_index - 1] }}</div>
                </td>
                {% endfor %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

{% endblock %}