{% extends "base.html" %}

{% block title %}
    Data
{% endblock %}

{% block main %}

<div>
    <header class="data-tabs">
        <form action="/data" method="POST">
            {% for season in seasons %}
            <button type="submit" name="season" value="{{ season }}">{{ season }}</button>
            {% endfor %}
        </form>
    </header>
    <main>
        {% for act in data %}
        <div class="scorecard">
            {{ act }}
        </div>
        {% endfor %}
    </main>
</div>

{% endblock %}