{% extends "base.html" %}

{% block title %}
    Input
{% endblock %}

{% block main %}
<table class="act-input">
    <tr>
        <td>
            Date
        </td>
        <td>{% block team %}{% endblock %}</td>
        <td>{% block team %}{% endblock %}</td>
        <td>{% block team %}{% endblock %}</td>
        <td>{% block team %}{% endblock %}</td>
    </tr>
    <tr>
        <td>Cup 1</td>
        <td>Team 1</td>
        <td>Team 2</td>
        <td>Team 3</td>
        <td>Team 4</td>
    </tr>
    <tr>
        <td>Cup 2</td>
        <td>Team 1</td>
        <td>Team 2</td>
        <td>Team 3</td>
        <td>Team 4</td>
    </tr>
    <tr>
        <td>Cup 3</td>
        <td>Team 1</td>
        <td>Team 2</td>
        <td>Team 3</td>
        <td>Team 4</td>
    </tr>
    <tr>
        <td>Cup 4</td>
        <td>Team 1</td>
        <td>Team 2</td>
        <td>Team 3</td>
        <td>Team 4</td>
    </tr>
</table>
{% endblock %}