{% extends "base.html" %}

{% block title %}
Data
{% endblock %}

{% block main %}

<h1>Leaderboard</h1>

<table>
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Username 
            </th>
            <th>
                ELO 
            </th>
            <th>
                ACTs Played 
            </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ loop.index }}.
            </td>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ user.elo }}
            </td>
            <td class="acts-played-col">
                {{ acts_played.get(user.user_id) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}